body{
    background-color: #8622B4;
}

header{
    text-align: center;
    font-family: Arial;
    color: #18E831;
    font-size: 29px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

nav a{
    color: #F6FAFA;
    text-align: center;
    font-size: 24px;
    padding: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

nav a{
    margin-left: auto;
    margin-right: auto;
}

nav a:hover{
    text-decoration: underline;
}

.mensagem{
    color: #F6FAFA;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    padding: 23px;
    line-height: 28px;
}

fieldset{
    padding-top: 5px;
    background-color: #8622B4;
    border-radius: 10px;
    padding-bottom: 5px;
}

footer{
    font-family: Arial;
    font-size: 19px;
    color: #F6FAFA;
    padding: 25px;
    text-align: center;
}

.Nos{
    color: #F6FAFA;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    padding: 23px;
    line-height: 28px;
}

h2{
    color: #F6FAFA;
    font-family: Arial;
    text-align: center;
}

.Blog{
    color: #F6FAFA;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    line-height: 28px;
}

.Info{
    margin: 20px;
}

a{
    color: #09f825;
    font-family: Arial;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}